.video-wrapper {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.video-self {
    width: 100%;
    max-width: 465px;
    border-radius: 10px;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 5px;
    color: #1a1a1a50;
    font-size: 60px;
    z-index: 5;
  }