.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: antiquewhite;
}

.video-self {
    width: 102%;
    height: 101%;
    max-width: 465px;
    object-fit: cover;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    /* tap-highlight-color: transparent; */ /* IOS use only */
}

.back-icon-light {
    position: absolute;
    top: 20px;
    left: 0px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 60px;
    z-index: 5;
}

.back-icon-dark {
    position: absolute;
    top: 20px;
    left: 4px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 60px;
    z-index: 5;
}

.teleprompter::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.teleprompter::-webkit-scrollbar {
    display: none;
  }

.teleprompter {
    position: absolute;
    top: 20px;
    margin-left: 58px;
    width: 82%;
    max-width: 375px;
    height: 180px;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
    font-weight: 700;
    color: rgba(252, 247, 244, 0.918);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 5;
    -webkit-tap-highlight-color: rgb(255, 255, 255);
    overflow: hidden;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-tap-highlight-color: transparent;
    -moz-text-fill-color: rgba(255, 255, 255, 0.828);
    -moz-background-clip: unset;
    -webkit-text-stroke: 1px rgba(52, 52, 52, 0.532);
    -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
    letter-spacing: 1px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    transition: opacity 2s;
}

.play-button.fade-in {
    opacity: 1;
}
  
.play-icon {
    color: #fff;
    font-size: 45px;
    padding-left: 3px;
}
